<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/CSS/index.css">
    <title>index page</title>
</head>
<body>
    <header>
        <div class="w-full bg-gray-700 text-white text-sm">

        </div>
        <%- include('partials/nav.ejs') %>
    </header> 
    <section id="hero"></section>
    <section class="w-full">
        <div class="md:w-[75%] mx-auto my-5 py-5">
            <div class="grid md:grid-cols-2 px-3">
                <div class="md:w-[90%] h-[550px]" id="card-div">
                    <div class="md:w-[100%] relative" id="item-img">
                        <div class="md:w-[70%] h-[30vh] bg-white shadow-sm absolute top-[50%]">
                            <div class="cont w-[80%] h-[150px] mx-auto border">
                                <h3 class="text-2xl text-gray-900">Sport Kits</h3>
                                <p class="text-gray-900">Best quality sport kit brought to you at your own ease for sport activity</p>
                                <a href="" class="mt-4">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid md:grid-cols-2 gap-7">
                    <div class="w-[100%] hover:shadow-lg rounded-md">
                        <div class="w-[70%] mx-auto py-4">
                            <img src="/IMG/Arsenal.jpeg" alt="image">
                        </div>
                        <div class="card-cont w-[70%] mx-auto pt-4">
                            <h5 class="text-gray-800"><small>[simple]</small>Football Jersey</h5>
                            <p>$25.00</p>
                        </div>
                    </div>

                    <div class="w-[100%] hover:shadow-lg rounded-md">
                        <div class="w-[70%] mx-auto py-3">
                            <img src="/IMG/item1.jpeg" alt="image">
                        </div>
                        <div class="card-cont w-[70%] mx-auto pt-4">
                            <h5 class="text-gray-800"><small>[simple]</small>Sport Sock</h5>
                            <p>$12.60</p>
                        </div>
                    </div>

                    <div class="w-[100%] hover:shadow-lg rounded-md">
                        <div class="w-[70%] mx-auto py-4">
                            <img src="/IMG/Faginey Football Cone, 10pcs Soccer Training Cone Football Barriers Plastic Marker Holder Accessory, Red.jpeg" alt="image">
                        </div>
                        <div class="card-cont w-[70%] mx-auto pt-4">
                            <h5 class="text-gray-800"><small>[simple]</small>Football Cone</h5>
                            <p>$19.35</p>
                        </div>
                    </div>

                    <div class="w-[100%] hover:shadow-lg rounded-md">
                        <div class="w-[70%] mx-auto py-4"> 
                            <img src="/IMG/Mitchell & Ness NBA Los Angeles Lakers Shaquille O'Neal Swingman Jersey Gold 1999-00 SMJYLALYSON99 - S.jpeg" alt="image">
                        </div>
                        <div class="card-cont w-[70%] mx-auto pt-4">
                            <h5 class="text-gray-800"><small>[simple]</small>Basketball Jersey</h5>
                            <p>$27.06</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid md:grid-cols-2 px-3 md:my-24 my-10">
                <div class="grid md:grid-cols-2 gap-7">
                    <div class="w-[100%] hover:shadow-lg rounded-md">
                        <div class="w-[70%] mx-auto py-4">
                            <img src="/IMG/Arsenal.jpeg" alt="image">
                        </div>
                        <div class="card-cont w-[70%] mx-auto pt-4">
                            <h5 class="text-gray-800"><small>[simple]</small>Football Jersey</h5>
                            <p>$25.00</p>
                        </div>
                    </div>

                    <div class="w-[100%] hover:shadow-lg rounded-md">
                        <div class="w-[70%] mx-auto py-3">
                            <img src="/IMG/item1.jpeg" alt="image">
                        </div>
                        <div class="card-cont w-[70%] mx-auto pt-4">
                            <h5 class="text-gray-800"><small>[simple]</small>Sport Sock</h5>
                            <p>$12.60</p>
                        </div>
                    </div>

                    <div class="w-[100%] hover:shadow-lg rounded-md">
                        <div class="w-[70%] mx-auto py-4">
                            <img src="/IMG/Faginey Football Cone, 10pcs Soccer Training Cone Football Barriers Plastic Marker Holder Accessory, Red.jpeg" alt="image">
                        </div>
                        <div class="card-cont w-[70%] mx-auto pt-4">
                            <h5 class="text-gray-800"><small>[simple]</small>Football Cone</h5>
                            <p>$19.35</p>
                        </div>
                    </div>

                    <div class="w-[100%] hover:shadow-lg rounded-md">
                        <div class="w-[70%] mx-auto py-4"> 
                            <img src="/IMG/Mitchell & Ness NBA Los Angeles Lakers Shaquille O'Neal Swingman Jersey Gold 1999-00 SMJYLALYSON99 - S.jpeg" alt="image">
                        </div>
                        <div class="card-cont w-[70%] mx-auto pt-4">
                            <h5 class="text-gray-800"><small>[simple]</small>Basketball Jersey</h5>
                            <p>$27.06</p>
                        </div>
                    </div>
                </div>
                <div class="md:w-[90%] h-[550px]" id="card-div">
                    <div class="md:w-[100%] relative" id="item-img1">
                        <div class="md:w-[70%] h-[30vh] bg-white shadow-sm absolute top-[50%]">
                            <div class="cont w-[80%] h-[150px] mx-auto border">
                                <h3 class="text-2xl text-gray-900">Sport Kits</h3>
                                <p class="text-gray-900">Best quality sport kit brought to you at your own ease for sport activity</p>
                                <a href="" class="mt-4">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full h-[80vh] bg-gray-50 py-10">
            <h2 class="text-3xl text-gray-800 text-center font-blod py-5">Deal Of The Month</h2>
            <div class="md:w-[80%] mx-auto grid md:grid-cols-2 gap-7">
                <div class="grid md:grid-cols-2 gap-5 border shadow-md p-5">
                    <div>
                        <img src="/IMG/Treadmillsjpeg" alt="">
                    </div>
                    <div>
                        <div class="grid md:grid-cols-4 gap-3 py-5">
                            <div class="time py-2 text-center rounded-md">
                                <h4 class="">25</h4>
                                <p class="text-gray-600">days</p>
                            </div>
                            <div class="time py-2 text-center rounded-md">
                                <h4>15</h4>
                                <p class="text-gray-600">hours</p>
                            </div>
                            <div class="time py-2 text-center rounded-md">
                                <h4>7</h4>
                                <p class="text-gray-600">mins</p>
                            </div> 
                            <div class="time py-2 text-center rounded-md">
                                <h4>48</h4>
                                <p class="text-gray-600">secs</p>
                            </div>                
                        </div>
                        <h4 class="item py-5 text-gray-800">Treadmills Home Gym</h4>
                        <div class="grid md:grid-cols-2">
                            <p class="price">$150.00</p>
                            <p class="oldprice">$220.56</p>
                        </div>
                        <div class="grid md:grid-cols-4 gap2">
                            <img>
                                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABmJLR0QA/wD/AP+gvaeTAAABK0lEQVRYhe2VP05CQRCHPymwsSOcgMRwBi2k4S4cAQ+gyB3suQM2qLEzXoEGsLBSaCjkUcy8ZPmTPPb3lFDsl2wmb3f2ze/Nzs6DRCJxgrwBmY8foHtsAa+BgAxYAY1ji8gZuIjOfwWoFKw/u71xO2YzO7HjMVbAyG0LOAueVZ6UTVNMfVMMWgXmwC9Q314sygDAi9uWKOAauAA+gC9FwHYdxNJ2OxT308SO4BOrg1jefb+aQUCvgxp29gvgfJ/DIUcAeh20PcYIWJYRoNZBfv7S9QtpYC1ZaT4r4LKsALCf0ndk8Dlw+xfBwRpKH5hhRdnzuVgfmQd2v/Be8JHJr+IV1t0yn4v12eDQWxASNqOshE80PXbTeyf4yFQ9wBSY+Iv3FWGRTyJxWqwBUZF8jqhPfG0AAAAASUVORK5CYII=" alt="icon"></img>
                            </div>
                        </div>
                    
                    </div>
                    <div class="grid md:grid-cols-2 gap-5 border shadow-md p-5">
                        <div>
                            <img class="h-full" src="/IMG/sport bike.jpeg" alt="">
                        </div>
                        <div>
                            <div class="grid md:grid-cols-4 gap-3 py-5">
                                <div class="time py-2 text-center rounded-md">
                                    <h4 class="">25</h4>
                                    <p class="text-gray-600">days</p>
                                </div>
                                <div class="time py-2 text-center rounded-md">
                                    <h4>15</h4>
                                    <p class="text-gray-600">hours</p>
                                </div>
                                <div class="time py-2 text-center rounded-md">
                                    <h4>7</h4>
                                    <p class="text-gray-600">mins</p>
                                </div> 
                                <div class="time py-2 text-center rounded-md">
                                    <h4>48</h4>
                                    <p class="text-gray-600">secs</p>
                                </div>                
                            </div>
                            <h4 class="item py-5 text-gray-800">Treadmills Home Gym</h4>
                            <div class="grid md:grid-cols-2">
                                <p class="price">$150.00</p>
                                <p class="oldprice">$220.56</p>
                            </div>
                            <div class="grid md:grid-cols-4 gap2">
                                <img>
                                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABmJLR0QA/wD/AP+gvaeTAAABK0lEQVRYhe2VP05CQRCHPymwsSOcgMRwBi2k4S4cAQ+gyB3suQM2qLEzXoEGsLBSaCjkUcy8ZPmTPPb3lFDsl2wmb3f2ze/Nzs6DRCJxgrwBmY8foHtsAa+BgAxYAY1ji8gZuIjOfwWoFKw/u71xO2YzO7HjMVbAyG0LOAueVZ6UTVNMfVMMWgXmwC9Q314sygDAi9uWKOAauAA+gC9FwHYdxNJ2OxT308SO4BOrg1jefb+aQUCvgxp29gvgfJ/DIUcAeh20PcYIWJYRoNZBfv7S9QtpYC1ZaT4r4LKsALCf0ndk8Dlw+xfBwRpKH5hhRdnzuVgfmQd2v/Be8JHJr+IV1t0yn4v12eDQWxASNqOshE80PXbTeyf4yFQ9wBSY+Iv3FWGRTyJxWqwBUZF8jqhPfG0AAAAASUVORK5CYII=" alt="icon"></img>
                                </div>
                            </div>
                        
                        </div>
                </div>
            </div>
        </div>
        <div class="md:w-[75%] mx-auto text-center md:mb-16" id="looped">
            <div class="grid md:grid-cols-3 gap-2">
                <% shop.forEach(i => { %>
                <div class="md:flex shadow-md rounded-md hover:shadow-lg my-10 py-3">
                    <div class="shop-img">
                        <img class="hover:scale-110 transition duration-300 ease-in-out" src="<%= i.img %>" alt="image">
                    </div>
                    <div class="md:pt-12 mx-5">
                        <a class="text-center" href="/item/<%= i.id %>"><%= i.name %></a>
                        <p class="text-center"><%= i.price %></p>
                        <div class="grid md:grid-cols-3">
                            <div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    </section>

    

</body>
</html>