<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/CSS//item.css">
    <link rel="stylesheet" href="/CSS/index.css">
    <title>Document</title>
</head>
<body>
    <header>
        <%- include('partials/nav.ejs') %>
    </header>
    <section class="my-2 md:my-8 md:py-5" id="shop-sec">
        <div class="md:w-[75%] mx-auto grid md:grid-cols-3">
            <div class="md:col-span-1 h-[500px] md: border" id="cont-div">
                <h3 class="text-2xl text-white bg-black py-3 px-5">Shop All</h3>
                <div class="p-5" id="box1">
                    <h5 class="text-xl py-2 text-gray-900">Product</h5>
                    <p class="text-gray-700">Field Kits</p>
                </div>
                <div class="p-5" id="box2">
                    <h5 class="text-xl py-2 text-gray-900">Manufacturals</h5>
                    <ul>
                        <li class="text-gray-700">Brunswick Corp.</li>
                        <li class="text-gray-700">Icon Health & Fitness, Inc.</li>
                        <li class="text-gray-700">Life Fitness, Inc.</li>
                        <li class="text-gray-700">Precor, Inc.</li>
                        <li class="text-gray-700">TRUE Fitness </li>
                        <li class="text-gray-700">Octane Fitness, LLC.</li>
                        <li class="text-gray-700">Star Trac.</li>

                    </ul>
                </div>
            </div>

            <div class="md:col-span-2 p-5 float-right border" id="shop-box">
                <h4>Available Product</h4>
                <p class="text-center text-xl text-gray-500"><%= msg %></p>
                <div class="text-center md:mb-16" id="looped">
                    <div class="grid md:grid-cols-3 gap-4">
                        <%  %>
                        <% shopData.forEach(i => { %>
                        <div class="shadow-md rounded-md hover:shadow-xl my-10 py-3">
                            <div class="shop-img flex justify-center items-center">
                                <a href="/shopItems/<%= i.id %>"> <img class="hover:scale-110 transition duration-300 ease-in-out" src="<%= i.img %>" alt="image"></a>
                               
                            </div>
                            <div class="md:pt-12 mx-5">
                                <a class="text-center" href="/shopItems/<%= i.id %>"><%= i.name %></a>
                                <p class="text-center"><%= i.price %></p>
                                <div class="grid md:grid-cols-3">
                                    <div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
          
    </section>
</body>
</html>