<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/CSS/item.css">
    <title>shopitem</title>
</head>
<body>
    <header>
        <%- include('partials/nav.ejs') %>
    </header>
    <section class="py-16">
        <div class="md:w-[75%] mx-auto grid md:grid-cols-2 border py-10">
            <div class="w-[50%] mx-auto">
                <img src="<%= shopData.img %>" alt="">
            </div>
            <div class="border p-5 text-gray-900 ">
                <h3><%= shopData.name %></h3>
                <div>
                    <p></p>
                </div>
                <p><%= shopData.price %></p>
                <p><%= shopData.oldprice %></p>
                <p class="text-lime-600"><%= shopData.stock %></p>
            </div>
                 
        </div>
    </section>
    
</body>
</html>